# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/
ENV/

# Airflow
airflow.db
airflow.cfg
webserver_config.py
logs/
plugins/__pycache__/

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sqlite
*.duckdb
